/target
/out
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
**/.idea*
.gradle
build
/*/java/build
/*/rust/target
.cpcache
*.iml
**/*.iml
**/Cargo.lock
**/.nrepl-port
/.clj-kondo
